[CellularAutomata]
    enabled = true

    ;The number of seconds between cellular automata updates
    cycle_time = 10

    ;The region coordinates of the lower left cell in the matrix
    x_position = 128.0
    y_position = 128.0
    z_position = 25.0

    ;The number of cells in the matrix
    x_cells = 16
    y_cells = 16

    ;The cellular automata offset (the number added to the value of each cell
    ;in each cycle to keep them from converging on one average value
    offset = 0.25


