[vMeadow]
    enabled = true

    ;Chat channel to use for commands
    chat_channel = 18

    ;Time in seconds between the end of one update and the start of the next
    cycle_time = 30

    ;# of rows and columns in the default community matrix
    x_cells = 50
    y_cells = 50

    ;Coordinates for the 0,0 cell (SW corner) of the default community matrix
    x_position = 2
    y_position = 2

    ;Default distance between matrix cells (average distance between plants)
    cell_spacing = 5

    ;Place the plants near the matrix coordinates for a more natural appearance,
    ;rather than directly on the coordinates.  This does not effect on the
    ;simulation outcome - only the appearance.
    natural_appearance = true;

    ;Number of generations to run in the simulation.
    generations = 10000

    ;Url path to community configuration info (The vMeadowGA Google AppEngine
    ;tool can be used).
    config_path = "http://vmeadowga.aduffy70.org/"

    ;Path to the folder where logs will be stored.  This folder must exist.
    log_path = "addon-modules/vMeadow/logs/"

    ;A unique identifier for the logs from this region.
    instance_tag = "myregion"